export LANGSMITH_TRACING=your_langsmith_tracing
export LANGSMITH_ENDPOINT=your_langsmith_endpoint
export LANGSMITH_API_KEY=your_langsmith_api_key
export LANGSMITH_PROJECT="your application"
export OPENAI_API_KEY=your_openai_api_key

export USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36
export EMBEDDING_MODEL=text-embedding-3-small
export CHAT_MODEL=gpt-4o-mini
export RERANKING_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2
export DATA_SOURCE_DIR=data/source